*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    border-radius: 20px;
    background-color: greenyellow;
    width: 500px;
    padding: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tempDiv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
 }
 .tempInput{
    width: 55%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
 }

 @media screen and (max-width: 600px){
   .tempInput{ 
    width: 100%;
     }
     .tempDiv{
        flex-direction: column;
        align-items: flex-start;
     }
 }