*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: coral;
    font-size: 18px;
    font-weight: 500;
    width: 500px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.dictionary{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;

}
.dictionary::placeholder{
    font-size: 16px;
    color: black;
    padding: 1px;
}

.button{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px 0px;
    font-size: 20px;
    cursor: pointer;
}
.heading{
    font-size: 28px;
    margin-bottom: 15px;
}
.translatedDiv{
    display: none;
}